<div class="container">
  <div class="section-header">
<span>Section</span>
<button class="add-new-button" (click)="addnew()">+ add category</button>

  </div>

  <form (submit)="add()">
    <table cdkDropList (cdkDropListDropped)="dropTest($event)">
      <tr>
        <th></th>
        <th>CATEGORY</th>
        <th>Seq.</th>
        <th></th>
      </tr>
        <tr *ngFor="let item of categorie_array" cdkDrag>
          <td><img src="assets/img/Group-15551.svg" class="Group-15551 move-img"/></td>
          <td>{{item.name}}</td>
          <td><div class="seq-num">{{item.seq}}</div></td>
          <td>
            <img src="assets/img/Group-15585.svg" (click)="delete(item)" class="Group-15585 remove-btn"/>
          </td>
        </tr>

        <ng-template [ngIf]="addNew == true">
          <tr>
            <td><img src="assets/img/Group-15551.svg" class="Group-15551 move-img"/></td>
            <td><input type="text" id ="categoryField" [(ngModel)] = "name" name='Name' required></td>
            <td></td>
            <td><button class="save-btn" type="submit">SAVE</button></td>
            </tr>
        </ng-template>
      </table>
    </form>

    </div>

        <!-- <form (submit)="add()">
        <input type="text" [(ngModel)] = "name" name='Name' required>
        <input type="text" [(ngModel)] = "contact" name='Contact' required>
        <input type="text" [(ngModel)] = "country" name='Country' required>

        <button type="submit">Add</button>
        </form> -->
