
.main-container{
  background-color: #eaeef5;
}

.navbar{
  background-color: #0a3645 !important;
  padding: unset;
  margin-bottom: 24px;
  .nav-item {
    flex: 0 0 95.2px;
    height: 40px;
    .nav-link {
      padding-top: 15px;
      padding-bottom: 15px;
      opacity: 0.55;
      font-family: Helvetica;
      font-size: 10px;
      line-height: 1.2;
      text-align: center;
      color: #ffffff;
    }

  }
  .active {
    background-color: #4a636c!important;
    .nav-link {
      font-family: Helvetica;
      font-size: 10px;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      color: #ffffff;
      a {
        text-align: center;
      }
    }
  }

  .dropdown-menu{
    left: unset;
    right: 5px
  }

}

//svg
.group-1 {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}





