<nav class="navbar navbar-expand-lg nav-bar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse col" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item nav-item-style active">
        <a class="nav-link" href="#" routerLink="/nav1"><span class="nav-text-style">Nav1 </span><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-item-style">
        <a class="nav-link" href="#" routerLink="/nav2"><span class="nav-text-style">Nav2 </span></a>
      </li>
      <li class="nav-item nav-item-style">
        <a class="nav-link" href="#" routerLink="/nav3"><span class="nav-text-style">Nav3 </span></a>
      </li>
    </ul>
  </div>

  <div class="col">
  <img src="assets/images/group-1.svg" class="group-1">
</div>
  <!-- <div class="nav-item dropdown col">
      <a class="dropdown-toggle nav-text-style" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div> -->

</nav>


<router-outlet></router-outlet>