<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a href="#" class="navbar-brand"><img src="assets/img/group-1.svg" class="group-1" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- center -->
    <!-- left-->
    <ul class="navbar-nav mr-auto navbar-left">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/nav1">Nav1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/nav2">Nav2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/nav3">Nav3</a>
      </li>
    </ul>

    <!-- right -->
    <ul class="nav navbar-nav dropdown navbar-right">
      <li class="nav-item">
        <a class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Welcome Christy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>
